@CHARSET "UTF-8";
@media (max-width: 650px){
	.card {
		width: 75px;
		height: 100px;
	}
	.card .back, .card .front {
		border-radius: 5px;
		-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
		-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
		box-shadow: 0 1px 5px rgba(0,0,0,0.9);
	}
	#gameboard {
		width: 245px;
	}
	#card1, #card4, #card7, #card10 {
		left: 85px;
	}
	#card2, #card5, #card8, #card11 {
		left: 170px;
	}
	#card3, #card4, #card5 {
		top: 110px;
	}
	#card6, #card7, #card8 {
		top: 220px;
	}
	#card9, #card10, #card11 {
		top: 330px;
	}
}

@media (min-width: 650px){
	.card {
		width: 100px;
		height: 133px;
	}
	.card .back, .card .front {
		border-radius: 10px;
		-moz-box-shadow: 0 2px 10px rgba(0,0,0,0.9);
		-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.9);
		box-shadow: 0 2px 10px rgba(0,0,0,0.9);
	}
	#gameboard {
		width: 327px;
	}
	#card1, #card4, #card7, #card10 {
		left: 113px;
	}
	#card2, #card5, #card8, #card11 {
		left: 227px;
	}
	#card3, #card4, #card5 {
		top: 147px;
	}
	#card6, #card7, #card8 {
		top: 293px;
	}
	#card9, #card10, #card11 {
		top: 440px;
	}
}

.card {
	position: fixed;
}

.card .back {
	width: inherit;
	height: inherit;
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/fflogo.png);
	-webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    -webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
    -o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.card.active .back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.card .front {
	width: inherit;
	height: inherit;
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
    -o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.card.active .front {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
}
body {
	text-align: center;
	background-image: url(../images/background.png);
	background-repeat: repeat-x;
}

#gameboard {
	position: relative;
	margin: 0px auto;
}

#card0, #card3, #card6, #card9 {
	position: absolute;
	left: 0px;
}

#card1, #card4, #card7, #card10 {
	position: absolute;
}

#card2, #card5, #card8, #card11 {
	position: absolute;
}

#card0, #card1, #card2 {
	top: 0px;
}

#card3, #card4, #card5 {
}

#card6, #card7, #card8 {
}

#card9, #card10, #card11 {
}

.pair0 .front{
	background-image: url(../images/summit1.png);
	-webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.pair1 .front{
	background-image: url(../images/summit2.png);
	-webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.pair2 .front{
	background-image: url(../images/summit3.png);
	-webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.pair3 .front{
	background-image: url(../images/summit4.png);
	-webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.pair4 .front{
	background-image: url(../images/summit5.png);
	-webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.pair5 .front{
	background-image: url(../images/summit6.png);
	-webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#status{
	background-color: white;
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
	box-shadow: 0 1px 5px rgba(0,0,0,0.9);
	border-radius: 5px;
	margin-bottom: 10px;
	display: inline-block;
	padding: 0px 30px 0px 30px;
}

#status #moveslabel, #status #movesvalue{
	display: inline-block;
	padding: 2px 5px 2px 5px;
}

