@CHARSET "UTF-8";

.card {
	width: 75px;
	height: 100px;
	background-image: url(../images/fflogo.png);
	-webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;

	position: fixed;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
	box-shadow: 0 1px 5px rgba(0,0,0,0.9);
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.active {
	-webkit-background-size: -100% auto;
    -moz-background-size: -100% auto;
    -o-background-size: -100% auto;
    background-size: -100% auto;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	/* -- transition is the magic sauce for animation -- */
			-o-transition: all .4s ease-in-out;
			-ms-transition: all .4s ease-in-out;
			-moz-transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

#card0, #card3, #card6, #card9 {
	left: 100px;
}

#card1, #card4, #card7, #card10 {
	left: 185px;
}

#card2, #card5, #card8, #card11 {
	left: 270px;
}

#card0, #card1, #card2 {
	top: 100px;
}

#card3, #card4, #card5 {
	top: 210px;
}

#card6, #card7, #card8 {
	top: 320px;
}

#card9, #card10, #card11 {
	top: 430px;
}

.active.pair0{
	background-color: blue;
}

.active.pair1{
	background-color: red;
}

.active.pair2{
	background-color: yellow;
}

.active.pair3{
	background-color: orange;
}

.active.pair4{
	background-color: pink;
}

.active.pair5{
	background-color: black;
}

